@import "variables";
@import "mixins";
@import "fonts";
@import "null";

body {
  font-family: 'Raleway', sans-serif;
  font-size: #{$baseFontSize};
  color: #{$baseFontColor};
  background-color: #{$baseBgColor};
}
img {
  width: 100%;
}